
<div class="input-group" style="width: 100%">
  <%= form_with(url: book_discounts_path, method: "get", class: "form-inline") do |form| %>
    <%= form.select 'discount_detail[discount_id]', options_from_collection_for_select(@discount, :id, :name_KM), { prompt: 'Chọn khuyến mãi' }, { class: 'custom-select', id: 'inputGroupSelect02' } %>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container_grid">
  <% @book.each do |book| %>
    <div class="box">
      <%# link_to image_tag(book.image, class: 'img_book_home', alt: book.name_book), detail_path(book), data: { turbolinks: false } %>
      <div class="description_book">
        <div><%= book.name_book %></div>
        <div>Tác giả: <%= book.author %></div>
        <div class="price">Giá: <%= book.display_price %> đ</div>
      </div>
      <%= button_to "Thêm",
        add_item_path(book.id),
        method: :get,
        class: "btn btn-success",
        remote: true
      %>
    </div>
  <% end %> 
</div>
