<td scope="row"><%= user.id %></td>
<td><%= link_to user.name, user %></td>
<td><%= user.email %></td>
<td><%= user.type_account.to_s.humanize %></td>
<td>
  <%= button_to user.status.to_s.humanize,
      convert_status_path(user.id),
      method: :get,
      class: user.opened? ? "btn btn-success" : "btn btn-primary" ,
      remote: true
  %>
</td>
<td>
  <% if current_user.admin? && !current_user?(user)%>
    <%= button_to "delete", user, method: :delete, class: "btn btn-danger" %>
  <% end %>
</td>