<div class="container_search">
  <%= form_with(url: root_url, method: "get", class: "form-inline") do |form| %>
    <div class="form_search">
      <%= form.text_field :search, class: "form-control", placeholder: "Search", aria_label: "Search" %>
      <%= form.submit "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
  

<div style="display: flex; justify-content: end;">
  <%= button_to "Giỏ hàng", "/cart", method: :get, class: "btn btn-danger" %>
</div>
<div class="container">
       <nav>
          <ul class="nav navbar-nav navbar-right">
            <% @category.each do |category| %>
             <li><a href="/evaluaters"><%= category.name_category %></a></li>
            <% end %>
          </ul>
       </nav>
  </div>
<div class="container_grid">
  <% @books.each do |book| %>
    <div class="box">
      <%= link_to image_tag(book.image, class: 'img_book_home', alt: book.name_book), detail_path(book) %>
      <div class="description_book">
        <div><%= book.name_book %></div>
        <div>Tác giả: <%= book.author %></div>
        <div class="price_info">
          <div>Giá: </div>
          <div class="price_discount"><%= book.display_price[:discount] %></div>
          <div class="price_current"><%= book.display_price[:current] %></div>
          <div>đ</div>
        </div>
      </div>
      <%= button_to "Thêm",
        add_to_cart_invoices_path(book_id: book.id),
        method: :get,
        disabled: (book.quantity < 1) ? true : false,
        class: "btn btn-success",
        remote: true
      %>
    </div>
  <% end %> 
</div>
