<div class="detail_book">
  <div class="detail_book_left">
    <%= image_tag @book.image %>
  </div>
  <div class="detail_book_right">
    <div class="detail_content">
      <div class="detail_name"><%= @book.name_book %></div>
      <div class="detail_id">ID: <%= @book.id %></div>
      <div class="price_info">
        <div>Giá: </div>
        <div class="price_discount"><%= @book.display_price[:discount] %></div>
        <div class="price_current"><%= @book.display_price[:current] %></div>
        <div>đ</div>
      </div>
      <div class="detail_title_description">Mô tả:</div>
      <div class="detail_description"><%= @book.description %></div>
      <div class="detail_author">Tác giả: <%= @book.author %></div>
      <div class="detail_quantity">Số lượng: <%= @book.quantity %></div>
      <%= number_field :quantity, class: 'form-control' %>
      <%= link_to "Đánh giá", create_evaluaters_path(@book.id)  %>
      <%= button_to "Thêm",
          add_item_path(@book.id),
          method: :get,
          disabled: (@book.quantity < 1) ? true : false,
          class: "btn btn-danger",
          remote: true
      %>
      <% @evaluaters.each do |evaluater| %>
        <div class="comment">
          <p class="comment-text"><%= evaluater.user.name %></p>
          <p class="comment-text"><%= evaluater.comment %></p>
          <div class="stars">
            <% evaluater.level.times do |n| %>
              <span class="star">&#9733;</span>
            <% end %>
          </div>
        </div>
      <% end %>
      
    </div>
    
  </div>
</div>



