<% provide(:title, 'All Books') %>
<h1>All Books</h1>

<div class="container_search">
  <%= form_tag search_books_path, method: :get do %>
    <div class="form_search">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search", aria_label: "Search" %>
      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
    </div>
  <% end %>
</div>


<table id="books-table" class="table table-success table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Image</th>
      <th>Category</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name_book %></td>
        <td><%= book.description %></td>
        <td><%= book.author %></td>
        <td><%= book.quantity %></td>
        <td><%= book.price %></td>
        <td><%= image_tag book.image, class: 'book-image', style: 'width: 70%' %></td>
        <td><%= book.category.name_category %></td>
        <td>
          <%= button_to book.status.to_s.humanize, toggle_status_book_path(book.id), method: :get, class: 'toggle-status-button', remote: true, style: (book.status.to_s == "Hiển thị") ? "background-color: green;" : "background-color: black;" %>
        </td>
        <td>
          <%= button_to "Delete", books_destroy_path(book.id), method: :get, class: 'toggle-status-button', remote: true, id: 'btn_delete' %>
          <%= button_to "Edit", books_edit_path(book), method: :get, class: 'toggle-status-button', id: 'btn_edit' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<style>
  .container_search {
    display: flex;
    margin-bottom: 12px;
  }

  .form_search input:first-child{
    padding-left: 40px;
  }

  .btn_search {
    padding: 0;
  }
  
  .toggle-status-button {
    margin-bottom: 6px;
    border-radius: 12px;
    border: solid 1px #e0e0e0;
    background-color: rgb(0, 101, 255);
    color: #fff;
  }

  #btn_delete {
    background-color: rgb(231, 31, 24);
  }

  #btn_edit {
    background-color: rgb(181, 224, 23);
    color: black;
  }
</style>

<script>
  $(document).ready(function() {
    $('#books-table').DataTable();
  });
</script>
