<% provide(:title, 'All Books') %>
<h1>All Books</h1>

<table id="books-table" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>image</th>
      <th>Category</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name_book %></td>
        <td><%= book.description %></td>
        <td><%= book.author %></td>
        <td><%= book.quantity %></td>
        <td><%= book.price%></td>
        <td><%= book.image%></td>
        <td><%= book.category.name_category %></td>
           <td>
  <%= button_to book.status.to_s.humanize, toggle_status_book_path(book.id), method: :get, class: 'toggle-status-button', remote: true %>
        </td>
       <td>
  <%= button_to "delete", books_destroy_path(book.id), method: :get, class: 'toggle-status-button', remote: true %>
  <%= button_to "edit", books_edit_path(book), method: :get %>
</td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    $('#books-table').DataTable();
  });
</script>
