<% provide(:title, 'Create Categories') %>
<h1>Create Categories</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@categories, data: { turbo: false }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name_category %>
      <%= f.text_field :name_category, class: 'form-control' %>
      <select name="status" class="custom-select"> 
        <option value="1">hiển thị</option>
        <option value="0">tạm tắt</option>
      </select>
      <%= f.submit "Create Categories", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>