<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
       <%= link_to "Ruby on Rails App", root_path, id: "logo" %>
       <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <% if logged? %>
               <% if admin_user? %>
                  <li><%= link_to "Categories", create_categories_path  %></li>
                  <li><%= link_to "Evaluater", evaluaters_path  %></li>
                   <li><%= link_to "Discounts", create_discounts_path  %></li>
                  <li><%= link_to "Users", users_path %></li>
                  <li><%= link_to "Books", books_path %></li>
                  <li><%= link_to "#" do %>
                     <i class="fas fa-shopping-cart" style="color: red;"></i>
                     <% end %>
                  </li>
               <% end %>
               <li><%= link_to "Setting", edit_user_path(current_user) %></li>
               <li><%= link_to "Logout", logout_path %></li>
            <% else %>
               <li><%= link_to "Log in", login_path %></li>
               
            <% end %>
       </nav>
    </div>
 </header> 